/* body {
    background-color: rgb(60, 64, 67);
    color: lightgrey;
} */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    padding: 20px;
  }

  footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }

.cor-fundo {
    background-color: lightgray;
}

.aDireita {
    text-align: right;
}

li {
    margin-bottom: 5px;
}

#container-index {
    margin-top: 15vh;
}

nav {
    height: 70px;
}

nav img {
    margin-left: 20px;
    height: 40px;
}

nav button {
    margin-right: 20px;
}

.col-3 {
    border: 1px solid grey;
    height: 120px;
    width: 80px;
    color: grey;
    font-size: 75px;
    text-align: center;
    vertical-align: middle;
}

#calculadora {
    width: 325px;
}

.col-3:hover {
    color: white;
}

#resultado {
    height: 60px;
    text-align: right;
}

#span-calculo {
    text-align: right;
}

.select-loading {
    background: url('https://i.gifer.com/ZZ5H.gif') no-repeat right center;
    background-size: 20px 20px;
    background-position-x: 95%;
}

/* Opcional: estilizar inputs */
input, select {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

body.dark-mode {
    /* background-color: #121212; */
    background-color: rgb(60, 64, 67);
    color: white;
}

.dark-mode input, .dark-mode select, .dark-mode .navbar, .dark-mode .btn {
    background-color: #1f1f1f;
    color: white;
    border-color: #333;
}

.list-group-item {
    background: transparent;
    border: none;
}

.list-group-item span {
    font-weight: bold;
}

/* Quando dark mode, mudar só a cor do texto da lista */
.dark-mode .list-group,
.dark-mode .list-group-item {
    color: white;
}