body {
    background-color: rgb(60, 64, 67);
    color: lightgrey;
}

.cor-fundo {
    background-color: lightgray;
}

.aDireita {
    text-align: right;
}

li {
    margin-bottom: 5px;
}

#container-index {
    margin-top: 15vh;
}

nav {
    height: 70px;
}

nav img {
    margin-left: 20px;
    height: 40px;
}

nav button {
    margin-right: 20px;
}

.col-3 {
    border: 1px solid grey;
    height: 120px;
    width: 80px;
    color: grey;
    font-size: 75px;
    text-align: center;
    vertical-align: middle;
}

#calculadora {
    width: 325px;
}

.col-3:hover {
    color: white;
}

#resultado {
    height: 60px;
    text-align: right;
}

#span-calculo {
    text-align: right;
}