<div class="container">

    <div class="row mt-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary" (click)="showInputTemperatura()">Mostrar Cálculo de
        Temperatura</button>
        </div>
    </div>

    <app-celsius-fahrenheit *ngIf="showInputsTemperatura"></app-celsius-fahrenheit>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary" (click)="showInputImc()">Mostrar Cálculo de IMC</button>
        </div>
    </div>

    <app-imc *ngIf="showInputsImc"></app-imc>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary" (click)="showInputCadastroUsuario()">Mostrar Cadastro de
        Usuário</button>
        </div>
    </div>

    <app-cadastro-usuario *ngIf="showInputsCadastroUsuario"></app-cadastro-usuario>

</div>